<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="rafael" />
		<title>CDS - Notificação</title>
		<!-- Date: 2012-03-12 -->
		
		<script src="/static/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/estilosNotificacao.css">
	</head>
	
	
	<body>
	
		<div id="container">
		
			<div id="header">
				<h1><a href="#"><img title="CDS - Q10 Informática" border="0" alt="CDS - Q10 Informática" src="/static/imagens/logo_cds.gif"></a></h1>
				<div class="shadow"></div>
			</div>
			
			<div id="content">
				<ul class="lista_de_alcas">
					<li>
						<ul class="lista_alca_selecionada" name="lst_alca">
							<li class="linha_fdo_esquerdo"></li>
							<li class="linha_fdo_meio">
								<h2 class="titulo_alca"> Grupos e Usuários </h2>
							</li>
							<li class="linha_fdo_direito"></li>
						</ul>
					</li>
				</ul>
							
				<div id="dv_notificacao">
				
					<table cellpadding="0" cellspacing="0" border="0" id="tbl_notificacao">
						<thead>
							<tr class="tr_fundoIndices">
								<th>
									Usuário:
								</th>
								<th>
									Grupos:
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td valign="top">
									<div>
										<a href="#">{{usuario}}</a><br/><br/><br/><br/><br/>
										<a href="/adm/usuarios">Ver Todos</a><br/>
										<a href="/adm/mensagem">Enviar Mensagem</a><br/>
									</div>
								</td>
								<td valign="top">
									<table>
										<form action="#" name="form_grupo" id="form_grupo">
										<tr>
											<td class="primeira_linha">
												<div>
												<select id="sowned" name="sowned" multiple>
													{%for grp in user_groups%}
														<option value="{{grp}}">{{grp}}</option>
													{%endfor%}
												</select>
												</div>
												<a href="#" id="remove"> remover &gt;&gt;</a>  
											</td>
											<td>
												<div>
												<select id="sall" name="sall" multiple>
													{%for grp in all_groups%}
														<option value="{{grp}}">{{grp}}</option>
													{%endfor%}
												</select>
												</div>
												<a href="#" id="add">&lt;&lt; adicionar </a>
											</td>
										</tr>
										<tr>
											<td>
												<input type="text" value="Crie um novo grupo" id="novoGrupo" name="novoGrupo">
												<input type="button" value="" id="bt_ok" name="bt_ok">
											</td>
										</tr>
										<tr>
											<td>
												<input type="button" value="Salvar" id="bt_save" name="bt_save">
												<input type="hidden" value="{{usuario}}" id="mail" name="mail">
											</td>
										</tr>
										</form>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				
				</div>
			
			</div> <!-- /content -->
			
		</div> <!-- /container -->		
			
	</body>
	<script src="/static/js/funcoesNotificacao.js"></script>
	<script src="/static/js/notifier.js"></script>
</html>
